body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
}

body {
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
}

A:link {
	text-decoration: none;
}
A:visited {
	text-decoration: none;
}
A:active {
	text-decoration: none;
}
A:hover {
	text-decoration: none;
}

input.submit {
	border:1px solid #B9C2D4;
	height: 21px;
	background-color: #3B5998;
	font-weight: bold;
	color: #FFF;
	font-size: 10px;
}

input, select {
	border:1px solid #B9C2D4;
	height: 21px;
}

.link {
	color:#333;
	font-weight: bold;
}

.panel {
	border:1px solid #3B6E22;
}

.imagebacked {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.panelScroll {
	height:408px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-image: url(../view/Chat/images/other/degras.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

#panelMessages {
	height:408px;
	width:600px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-image: url(../view/Chat/images/other/degras.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

#panelUsers {
	height:330px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#panelRooms {
	height: 78px; 
	width:190px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-image: url(../view/Chat/images/other/degras.png);
	background-repeat: repeat-x;
	background-position: 00px 0px;
}

.msgBody {
	color:rgb(0,0,0);
	width: 100%;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 4px;
}

.msgTitleAll {
	color:rgb(0,64,0);
}

.msgTitlePrivate {
	color:rgb(84,0,0);
}

#contenido {
	height:600px;
	width:800px;
	border:1px solid #3B5998;
}

#write {
	height: 80px;
}

#emoticons {
	height: 80px;
	width:190px;
	overflow-x: hidden;
	overflow-y: auto;
}

#panelInfo {
	height: 50px;
	background-image: url(../view/Chat/images/other/degras.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

#panelStatus {
	height: 50px;
	width:190px;
	overflow: hidden;
	background-image: url(../view/Chat/images/other/degras.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}


#update {
	vertical-align: middle;
}

#work{
	width: 100%; 
	height: 100%;
}

#login{
	width: 400px;
	border:2px dotted #BBC4D6;
	background-image: url(../view/Chat/images/other/message.png);
	background-repeat: no-repeat;
	background-position: -15px -20px;
}

#logout{
	width: 120px;
	background-image: url(../view/Chat/images/other/message.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 120px;
	color: #333;
}

.title {
	height:48px;
	background-color: #3B5998; 
	font-size: 14px;
	color: #FFF;
	background-image: url(../view/Chat/images/other/message.png);
	background-repeat: no-repeat;
	background-position: 480px -20px;
}

.title a {
	color: #F5F7FA;
}

.title img{
	background-image: url(../view/Chat/images/other/logo.png);
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 10px;
}

.marco{
	border:1px solid #B9C2D4;
	height: auto;
	width: auto;
}

.emoticon {
	padding: 1px;
	margin: 2px;
	background-color: #F3F3F3;
	border: 1px dotted #3B5998;
	float: left;
}

.emoticon a {

}

.tableOptions {
	width:100%;
}

.tableOptions td {
	border: 1px dotted #3B5998;
	height: 22px;
	padding-left: 4px;
}

.tableOptions td a {
	background-color: #fff;
	width:100%;
	height:100%;
	color: #666;
	cursor: default;
}

.tableOptions td a:hover {
	color: #000;
}
.TituloGrupo {
	font-size: 14px;
	font-weight: bold;
	color: #263962;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #B9C2D4;
}
.Titulo {
	color: #666;
	text-align: right;
	vertical-align: middle;
	font-weight: bold;
}

.nickname {
	height: 16px;
	width: 153px;
	clear: right;
	float: none;
	position: relative;
	overflow: hidden;
	font-weight: bold;
}

.nickinfo {
	padding-left: 18px;
	height: 16px;
	width: 144px;
	clear: right;
	float: none;
	position: relative;
	overflow: hidden;
	font-size: 9px;
}

.nameStatus {
	font-weight:bold;
}

.commandInput {
	background-image: url(../view/Chat/images/other/message.png);
	background-repeat: no-repeat; 
	background-position: -15px -20px;
}