/*#txt_cantidad:focus:invalid{
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}*/

/*#txt_cantidad:required:valid{
    background: #fff url(../images/c_valid.jpg) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}*/

#txt_cantidad {
	/*color: red;*/
}